- unless content_for? :title
  - content_for :title do
    VoIP DEMO

- content_for :alerts do
  - if flash.present?
    .alert.alert-info
      %a.close{:href => "#"} ×
      %strong= flash[flash.keys.first]


- content_for :layout_content do
  %body
    .container
      .header
        %h1= yield(:title)
    .container
      = yield(:alerts)
      = content_for?(:content) ? yield(:content) : yield

    %footer
      = yield(:footer)

= render :file => 'layouts/base'
